<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <appenders>
    <console name="console" target="system_out">
      <patternlayout pattern="%d{hh:mm:ss.sss} [%t] %p %highlight{%c{1}} - %msg%n"/>
    </console>
  </appenders>
  <Loggers>
    <Logger name="com.github.djbamba" level="debug" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>
